{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <h1>Welcome to MedEra</h1>
        <h2>MedEra - health in every detail!</h2>
      </div>
    </section>

    <main id="main">
      <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Choose us</h3>
                <p>
                    We provide modern methods of diagnostics, treatment and an individual approach to each patient.
                    - Why choose us:<br>
                    - Experienced doctors and qualified personnel. <br>
                    - Modern equipment and advanced technologies.<br>
                    - Convenient location and comfortable conditions.<br>
                    - A wide range of services: from preventive examinations to complex surgical interventions.
                </p>
                <div class="text-center">
                  <a href="{% url "recordingForm:recordingForm" %}" class="more-btn">submit an application <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Diagnostics</h4>
                      <p>We use foreign equipment to identify problems at early stages and offer optimal solutions.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Laboratory research</h4>
                      <p>Our laboratory provides a wide range of tests to accurately understand your health. The results are always timely and reliable.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bi-three-dots"></i>
                        <h4>Ather</h4>
                        <p>And many other services that will help you.</p>
                    </div>
                  </div>
     
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Doctors</h2>
          <p>Professionalism, care and attention to detail are the main principles of our work. Each patient receives an individual approach and recommendations based on modern methods of treatment and diagnostics. Trust your health to experienced specialists!</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>

              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
     
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
    
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
        
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->
  
      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="fas fa-user-md"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter">77</span>
                <p>Doctors</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="far fa-hospital"></i>
                <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter">14</span>
                <p>Departments</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-flask"></i>
                <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter">19</span>
                <p>Research Labs</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="fas fa-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter">65</span>
                <p>Awards</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    </main>
{% endblock content %}
