{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/recordingForm/style.css' %}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}
{% block content %}
    <body>
        <div class="formbold-main-wrapper">
            <!-- Author: FormBold Team -->
            <!-- Learn More: https://formbold.com -->
            <div class="formbold-form-wrapper">
              <form action="#" method="#">
                  <div class="formbold-steps">
                      <ul>
                          <li class="formbold-step-menu1 active">
                              <span>1</span>
                              Sign Up
                          </li>
                          <li class="formbold-step-menu2">
                              <span>2</span>
                              Message
                          </li>
                          <li class="formbold-step-menu3">
                              <span>3</span>
                              Confirm
                          </li>
                      </ul>
                  </div>
          
                  <div class="formbold-form-step-1 active">
                    <div class="formbold-input-flex">
                      <div>
                          <label for="firstname" class="formbold-form-label"> First name </label>
                          <input
                          type="text"
                          name="firstname"
                          placeholder="Andrio"
                          id="firstname"
                          class="formbold-form-input"
                          />
                      </div>
                      <div>
                          <label for="lastname" class="formbold-form-label"> Last name </label>
                          <input
                          type="text"
                          name="lastname"
                          placeholder="Dolee"
                          id="lastname"
                          class="formbold-form-input"
                          />
                      </div>
                    </div>
            
                    <div>
                      <label for="email" class="formbold-form-label"> Email Address </label>
                      <input
                      type="email"
                      name="email"
                      placeholder="example@mail.com"
                      id="email"
                      class="formbold-form-input"
                      />
                  </div>
                    <div>
                        <label for="phone" class="formbold-form-label"> Phone </label>
                        <input
                        type="text"
                        name="phone"
                        placeholder="+7 747 702 3204"
                        id="phone"
                        class="formbold-form-input"
                        />
                    </div>
                  </div>
          
                  <div class="formbold-form-step-2">
                    <div>
                      <label for="message" class="formbold-form-label"> Describe your problem </label>
                      <textarea
                        rows="6"
                        name="message"
                        id="message"
                        placeholder="Type your message"
                        class="formbold-form-input"
                      ></textarea>
                    </div>
                  </div>
          
                  <div class="formbold-form-step-3">

                      <div>
                        <p class="formbold-form-label">Doctor:</p>
                        <select id="doctor-select" class="form-select form-select-sm" aria-label=".form-select-sm example">
                          <option selected>Choose doctor</option>
                          {% for doctor in doctors %}
                                <option value="{{ doctor.id }}">{{ doctor.name }}</option>
                          {% endfor %}
                          
                        </select>
                
  
                        <div id="doctor-info" style="margin-top: 20px; display: none;">
                          <select id="doctor-times" class="form-select form-select-sm" aria-label=".form-select-sm example" >
                            <option selected>Choose time</option>
                            
                          </select>
  
                          <p><strong>Specialization:</strong> <span id="doctor-specialization"></span></p>
                          <p><strong>Phone:</strong> <span id="doctor-phone"></span></p>
                          <div class="doctor-info__description"><p><strong>Description:</strong> <span id="doctor-description"></span></p></div>
                      </div>
                    </div>
                  </div>
          
                  <div class="formbold-form-btn-wrapper">
                    <button class="formbold-back-btn">
                      Back
                    </button>
          
                    <button class="formbold-btn">
                        Next Step
                    </button>
                  </div>
              </form>
            </div>
          </div>
    </body>
    <div id="footer-bottom"></div>
{% endblock content %}
{% block scripts %}
<script src="{% static "js/recordingForm/scripts.js" %}"></script>
{% endblock scripts %}
