{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
{% endblock head %} {% block content %}
<body>
  <div class="authentication--form__main">
    <div class="authentication-form__container">
      <h1 class="authentication__title">Login</h1>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %} {% if form.non_field_errors %}
        <p>{{form.non_field_errors}}</p>
        {% endif %}
        <div class="authentication__form__input">
          <label for="id_username"></label>
          <input
            type="text"
            id="id_username"
            name="username"
            placeholder="Username"
            required
          />
          {% if form.username.errors %}
          <p>{{form.username.errors}}</p>
          {% endif %}
        </div>
        <div class="authentication__form__input">
          <label for="id_password"></label>
          <input
            type="password"
            id="id_password"
            name="password"
            placeholder="Password"
            required
          />
          {% if form.passwor1.errors %}
          <p>{{form.passwor1.errors}}</p>
          {% endif %}
        </div>
        <button class="authentication__btn" type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
{% endblock content %}
